:root {
    --color1: #F9FBFC;
    /**/
    --color2: #7AC2BF;
    /**/
    --color3: #1E3865;
    /**/
    --color4: #AFA699;
    /**/
    --color5: #34302A;
    /**/
    --color6: #796A65;
    /**/
    --color7: #F3EDE1;
    /**/
    --color8: #635F70;
    /**/
    --read-font: "Inter";
    --big-font: "Libre Franklin";
    --title-font: "Kurale"
}

@font-face {
    font-family: "Commissioner";
    src: local("Commissioner"),
        url("./fonts/Commissioner-VariableFont_FLAR_VOLM_slnt_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./fonts/Inter-VariableFont_opsz_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Franklin";
    src: local("Libre Franklin"),
        local("Libre-Franklin"),
        url("./fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Kurale";
    src: local("Kurale"),
        url("./fonts/Kurale-Regular.ttf") format("truetype");
}

a {
    text-decoration: none;
}

span {
    font-size: 1.125rem;
    color: var(--color1);
}

html {
    font-size: 16px;
    font-family: "Inter";
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Для телефонов */
@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 9.5px;
    }
}

/* --------background-main------ */

.background-main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url(./img/home.webp);
    background-size: cover;
    background-position: 50% 40%;
}

.background-img {
    background-color: var(--color3);
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

/* -----main------- */

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-family: var(--big-font);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center;
}

.main p {
    text-transform: uppercase;
    max-width: 720px;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
    font-family: var(--big-font);
    font-style: normal;
    font-size: 2rem;
    /* font-weight: 600; */
    text-align: center;
    line-height: 1.15;
    color: var(--color1);
}

.main a {
    padding: 0.875rem 1.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.main a:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.arrow {
    font-family: var(--read-font);
    font-size: 1.125rem;
    color: var(--color1);
    transition: all .2s ease-in-out;
}

.main button:hover .arrow {
    transform: translateX(0.5rem);
}

@media (max-width: 600px) {
    .main-text {
        letter-spacing: 9px;
    }
}

@media (max-width: 550px) {
    .main-text {
        letter-spacing: 4px;
    }
}

@media (max-width: 380px) {
    .main-text {
        letter-spacing: 0px;
    }
}

/* @media (max-width: 410px) {
    .main-text {
        letter-spacing: 1px;
    }
} */
/* --------- familiar? ---------- */

.familiar {
    width: 100vw;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
}

.familiar>span {
    font-size: 2.5rem;
    color: var(--color5);
    font-weight: 600;
    margin-bottom: 3rem;
}

.familiar p {
    font-family: var(--big-font);
    font-size: 1.5rem;
    color: var(--color5);
    margin-bottom: 2rem;
    text-align: center;
}

.familiar #grid {
    max-width: 964px;
    min-width: 640px;
    width: 50vw;
    height: 485px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3.5rem;
    row-gap: 1.75rem;
}

.familiar article {
    perspective: 1700px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}


.flipper>div {
    position: absolute;
    border: 2px solid var(--color8);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    font-family: var(--big-font);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    backface-visibility: hidden;
}

.div-svg div {
    padding-bottom: 0px;
}

.div-svg span {
    font-family: var(--big-font);
    font-size: 1.5rem;
    color: var(--color5);
}

.flipper svg {
    position: relative;
    bottom: 70px;
    right: calc(0.3*(100vw/8));
    color: var(--color8)
}

.flipper div:nth-child(odd) {
    background-color: var(--color7);
    color: var(--color5);
}

.flipper div:nth-child(even) {
    background-color: var(--color6);
    color: var(--color1);
    transform: rotateY(180deg);
}

.familiar article:hover .flipper {
    transform: rotateY(180deg);
}

@media (max-width: 1409px) {
    .flipper svg {
        right: calc(0.28*(100vw/8));
    }
}

@media (max-width: 1370px) {
    .flipper svg {
        bottom: 56px;
        right: calc(0.24*(100vw/8));
    }
}

@media (max-width: 1240px) {
    .flipper svg {
        bottom: 60px;
        right: calc(0.23*(100vw/8));
    }
}

@media (max-width: 1160px) {
    .flipper svg {
        right: calc(0.20*(100vw/8));
    }
}

@media (max-width: 1104px) {
    .flipper svg {
        bottom: 54px;
        right: calc(0.24*(100vw/8));
    }
}

@media (max-width: 768px) {
    .flipper svg {
        right: calc(0.18*(100vw/8));
    }
}

@media (max-width: 690px) {
    .familiar #grid {
        min-width: 5vw;
        width: 50vw;
        aspect-ratio: 454 / 254;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }

    .flipper div {
        font-size: 1.5rem;
    }

    .flipper div span {
        font-size: 1.5rem;
    }

    .div-svg svg {
        display: none;
    }

    .familiar article:hover .flipper {
        transform: none;
    }

    /* Включаем переворот при наличии класса .flipped */
    .familiar article .flipper.flipped {
        transform: rotateY(180deg);
    }
}

/* ---------- full cycle ----------- */

.full-cycle {
    background-color: var(--color1);
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.cont {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.cont>img {
    border-radius: 10px;
    width: 564px;
    height: 366px;
    position: sticky;
    top: 1rem;
    margin-top: 3rem;
}

.cycle-text {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color5);
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    gap: 1.125rem;
}

details:first-child {
    margin-top: 1rem;
}

details {
    width: 32rem;
}

summary {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color6);
    border: 1px solid var(--color6);
    border-radius: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

summary svg {
    width: 30px;
    transition: transform 0.3s ease;
}

details[open] summary {
    color: var(--color1);
    background-color: var(--color3);
    border-color: var(--color3);
}

details[open] summary svg {
    transform: rotate(180deg);
}

details p {
    position: relative;
    bottom: 0.5rem;
    font-family: var(--read-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--color6);
    border: 1px solid var(--color6);
    border-radius: 0 0 10px 10px;
    border-top: 0;
    text-align: justify;
    padding: 1rem 1rem 0.5rem;
}

details[open] p {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1320px) {
    .cont {
        gap: 3rem;
    }
}

@media (max-width: 1250px) {
    .cont>img {
        width: 400px;
        height: 224px;
    }
}

@media (max-width: 1100px) {

    .cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        row-gap: 1rem;
    }

    .cont>img {
        position: static;
        width: 512px;
        height: 286px;
        margin-top: 0;
    }
}

@media (max-width: 770px) {
    .cont {
        width: fit-content;
    }

    .cycle-text {
        width: fit-content;
    }

    .cont>img {
        width: 448px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    .cont>img {
        width: 384px;
        height: 214px;
    }
}

@media (max-width: 400px) {
    .cont>img {
        width: 304px;
        height: 170px;
    }
}

/* ------- all services --------*/

.services {
    width: 100vw;
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color1);
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 90px 24px 120px;
}

#text {
    max-width: 1170px;
    width: 95%;
}


/* .services-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    row-gap: 1.5rem;
    column-gap: 1rem;
    text-align: left;
}

.services-grid span {
    font-family: var(--read-font);
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
} */

.services-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem 0rem;
}

/* Каждый ряд – контейнер, который не влияет на сетку */
.row {
    display: contents;
    /* дети (input, label, desc) встают в сетку напрямую */
}

/* Скрываем радиокнопки */
.row input[type="radio"] {
    display: none;
}

/* Заголовки – первая колонка */
.row label {
    grid-column: 1 / 2;
    cursor: pointer;
    transition: color 0.2s;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--read-font);
    font-weight: 600;
    border-top: 1px solid var(--color8);
    /* border-radius: 10px 0 0 10px; */
    padding: 0.2rem;
}

.row label:hover {
    color: var(--color2);
}

/* Описания – вторая колонка */
.row .desc {
    grid-column: 2 / 3;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease, padding 0.3s ease, opacity 0.3s ease;
    padding: 0.2rem;
    opacity: 0;
    font-family: var(--read-font);
    font-size: 1.2rem;
    font-weight: normal;
    border-top: 1px solid var(--color8);
    /* border-radius: 0 10px 10px 0; */
}

/* Когда радиокнопка выбрана – раскрываем описание */
.row input[type="radio"]:checked~.desc {
    max-height: 500px;
    opacity: 1;
}

/* Адаптивность: на узких экранах делаем одну колонку */
@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .row label {
        grid-column: 1 / 2;
    }

    .row .desc {
        grid-column: 1 / 2;
        text-align: justify;
    }
}

/* --------- packaged solutions -------------------- */

.solutions {
    width: 100vw;
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

#solutions-title {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 2rem 0;
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color5);
    justify-self: center;
}

.square {
    border-right-style: solid;
    border-right-color: var(--color6);
    border-right-width: 1px;
    border-top-style: solid;
    border-top-color: var(--color6);
    border-top-width: 1px;
    /* border-bottom-style: solid;
    border-bottom-color: var(--color5);
    border-bottom-width: 1px; */
    padding: 5.75rem 10%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* .square svg {
    width: 56px;
    height: 56px;
} */

.square span {
    font-size: 1.25rem;
    font-family: var(--big-font);
    color: var(--color5);
}

.square p {
    margin-top: 1rem;
    font-family: var(--read-font);
    font-style: normal;
    font-size: 1rem;
    color: var(--color6);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .solutions {
        grid-template-columns: none;
        grid-template-rows: auto 1fr 1fr 1fr;
    }

    #solutions-title {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .square {
        padding: 4rem 10% 4rem 20%;
        justify-content: left;
    }
}

/* --------- facts ----------- */

.facts {
    background-color: var(--color7);
    padding-top: 120px;
    padding-right: 1.5rem;
    padding-bottom: 120px;
    padding-left: 1.5rem;
}

.facts-trolley {
    max-width: 1170px;
    display: flex;
    margin: auto;
    gap: 2em 5.06rem;
}

.facts-text {
    flex-basis: 45%;
    position: sticky;
    top: 0;
    height: fit-content;
}

.facts-title {
    color: var(--color5);
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--big-font);
    line-height: 1.2;
    max-width: 720px;
}

.facts-text p {
    margin-block-start: 1.5rem;
    margin-bottom: 2em;
    color: var(--color6);
    font-size: 1.125rem;
    font-family: var(--read-font);
    line-height: 1.6;
    max-width: 720px;
}

.facts-text div {
    max-width: 720px;
}

.facts-text div div {
    display: flex;
    gap: 0.44rem;
    color: var(--color6);
    font-size: 1rem;
    font-family: var(--read-font);
}

.facts-text div div img {
    height: 1.5rem;
}

.facts a {
    margin-top: 2.25rem;
    padding: 0.875rem 1.625rem;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.facts a:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.facts a:hover .arrow {
    transform: translateX(7px);
}

.album {
    flex-basis: 55%;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
    container-type: inline-size;
}

.album img {
    border-radius: 10px;
}

.album img:last-child {
    grid-column: span 2;
    grid-row: span 1;
}

@media (max-width: 890px) {
    .facts-trolley {
        flex-direction: column;
    }

    .facts-text {
        position: static;
    }

    .album {
        flex-basis: 100%;
    }
}

@media (max-width: 400px) {
    .album img:last-child {
        grid-column: 1/-1;
        grid-row: auto;
    }
}

/* ---------- footer ------------ */

footer {
    padding: 64px 24px;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1170px;
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color1);
}

footer>div>div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#ter {
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: bold;
}

footer svg {
    width: 5rem;
    height: 5rem;
}

footer #nav {
    display: flex;
    gap: 1.5rem;
}

footer a {
    font-family: var(--read-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--color4);
    transition: color .2s ease-in-out;
}

footer a:hover {
    color: var(--color1);
}

@media (max-width: 1115px) {
    footer #nav {
        flex-direction: column;
    }

    #nav a {
        text-align: right;
    }
}


@media (max-width: 890px) {
    footer>div {
        flex-direction: column;
        row-gap: 1rem
    }

    #ter {
        width: min-content;
    }

    footer #nav {
        flex-direction: row;
    }

    footer {
        padding: 32px 24px;
    }
}

/* ----------- modal window ---------------- */

/* dark */
.modal-overlay {
  display: none; /* скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* window */
.modal-window {
  background: var(--color1);
  border-radius: 12px;
  padding: 30px 35px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease;
}

/* title */
.modal-window h2 {
  margin-top: 0;
  text-align: center;
  color: var(--color5);
}

/* x */
.modal-close {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 30px;
  font-weight: bold;
  color: var(--color6);
  cursor: pointer;
  transition: color 0.2s;
}
.modal-close:hover {
  color: var(--color5);
}

/* Список соцсетей */
.modal-window article {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center center;
}
.social-list a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  /* text-decoration: none; */
  color: var(--color5);
  font-size: 1rem;
  transition: background-color 0.2s;
}

@keyframes fadeMW {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Чтобы иконки не ломались в старых браузерах */
.fab {
    display: inline-block;
}