:root {
    --color1: #F9FBFC;
    /**/
    --color2: #7AC2BF;
    /**/
    --color3: #1E3865;
    /**/
    --color4: #AFA699;
    /**/
    --color5: #34302A;
    /**/
    --color6: #796A65;
    /**/
    --color7: #F3EDE1;
    /**/
    --color8: #635F70;
    /**/
    --read-font: "Inter";
    --big-font: "Commissioner";
}

@font-face {
    font-family: "Commissioner";
    src: local("Commissioner"),
        url("./fonts/Commissioner-VariableFont_FLAR_VOLM_slnt_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./fonts/Inter-VariableFont_opsz_wght.ttf") format("truetype");
}

a {
    text-decoration: none;
}

span {
    font-size: 1.125rem;
    color: var(--color1);
}

html {
    font-family: "Inter";
    overflow-x: hidden;
}

/* --------background-main------ */

.background-main {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/mountains.jpg);
    background-size: cover;
    position: fixed;
    z-index: -1;
}

/* -----main------- */

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.main p {
    max-width: 720px;
    margin-bottom: 2.25rem;
    margin-top: 1rem;
    font-family: var(--big-font);
    font-style: normal;
    font-size: 4.5rem;
    /* font-weight: 600; */
    text-align: center;
    line-height: 1.15;
    color: var(--color1);
}

.main button {
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.main button:hover {
    background-color: var(--color3);
}

.arrow {
    font-family: var(--read-font);
    font-size: 1.125rem;
    color: var(--color1);
    transition: all .2s ease-in-out;
}

.main button:hover .arrow {
    transform: translateX(7px);
}

/* --------- familiar? ---------- */

.familiar {
    width: 100vw;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 120px 0;
}

.familiar span {
    font-size: 3rem;
    color: var(--color5);
    font-weight: 600;
    margin-bottom: 3rem;
}

.familiar p {
    font-family: var(--big-font);
    font-size: 2rem;
    color: var(--color5);
    margin-bottom: 2rem;
}

.familiar #grid {
    width: 964px;
    height: 536px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3.5rem;
    row-gap: 1.75rem;
}

.familiar article {
    perspective: 1700px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}


.flipper div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border: 1px solid var(--color8);
    border-radius: 10px;
    font-family: var(--big-font);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    backface-visibility: hidden;
}

.div-svg {
    justify-content: end !important;
    padding-bottom: 87px !important;
}

.flipper svg {
    position: relative;
    bottom: 30%;
    right: 50%;
    color: var(--color8)
}

.flipper div:nth-child(odd) {
    background-color: var(--color7);
    color: var(--color5);
}

.flipper div:nth-child(even) {
    background-color: var(--color6);
    color: var(--color1);
    transform: rotateY(180deg);
}

.familiar article:hover .flipper {
    transform: rotateY(180deg);
}

/* ---------- full cycle ----------- */

.full-cycle {
    background-color: var(--color1);
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.cont {
    max-width: 1170px;
    display: flex;
    gap: 6rem;
}

.cont img {
    border-radius: 10px;
    width: 564px;
    height: 366px;
    position: sticky;
    top: 1rem;
}

.cycle-text {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color5);
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    gap: 1.125rem;
}

details:first-child {
    margin-top: 1rem;
}

details {
    width: 32rem;
}

summary {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color6);
    border: 1px solid var(--color6);
    border-radius: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

summary svg {
    width: 30px;
    transition: transform 0.3s ease;
}

details[open] summary {
    color: var(--color1);
    background-color: var(--color3);
    border-color: var(--color3);
}
 
details[open] summary svg {
  transform: rotate(180deg);
}

details p {
    position: relative;
    bottom: 0.5rem;
    font-family: var(--read-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--color6);
    border: 1px solid var(--color6);
    border-radius: 0 0 10px 10px;
    border-top: 0;
    text-align: justify;
    padding: 1rem 1rem 0.5rem;
}

details[open] p {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* ------- all services --------*/

.services {
    width: 100vw;
    height: 100vh;
    font-family: var(--big-font);
    font-size: 2rem;
    color: var(--color1);
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 120px 24px 0;
}

#titles {
    position: absolute;
    top: 733px;
	width: 100%;
	height: 90em;
    left: 50%;
	margin-left: -49.5vw;
	transform-origin: 50% 100%;
    overflow: hidden;
	transform: perspective(400px) rotateX(20deg);
}

#titlecontent img {
 width: 100%;
 aspect-ratio: 1080/750;
}

#titlecontent {
    width: 100%;
    height: 100%;
	position: relative;
	top: 100%;
    transition: top 0.1s linear;
	/* animation: scroll 200s linear 0s infinite; */
}

/* #titlecontent.active {
  animation: scroll 200s linear 0s infinite;
} */

/* @keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
} */

.services-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    font-family: var(--read-font);
    font-size: 2rem;
    row-gap: 2.5rem;
    column-gap: 2rem;
    text-align: left;
}

.services-grid span{
    font-family: var(--read-font);
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
}

/* --------- packaged solutions -------------------- */

.solutions {
    width: 100vw;
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    
}

#solutions-title {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 2rem 0;
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color5);
    justify-self: center;
}

.square {
    border-right-style: solid;
    border-right-color: var(--color6);
    border-right-width: 1px;
    border-top-style: solid;
    border-top-color: var(--color6);
    border-top-width: 1px;
    /* border-bottom-style: solid;
    border-bottom-color: var(--color5);
    border-bottom-width: 1px; */
    padding-top: 92px;
    padding-right: 10%;
    padding-bottom: 92px;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* .square svg {
    width: 56px;
    height: 56px;
} */

.square span {
    font-size: 1.25rem;
    font-family: var(--big-font);
    color: var(--color5);
}

.square p {
    margin-top: 1rem;
    font-family: var(--read-font);
    font-style: normal;
    font-size: 1rem;
    color: var(--color6);
    line-height: 1.6;
}

/* --------- facts ----------- */

.facts {
    background-color: var(--color7);
    padding-top: 120px;
    padding-right: 1.5rem;
    padding-bottom: 120px;
    padding-left: 1.5rem;
}

.facts-trolley {
    max-width: 1170px;
    display: flex;
    margin: auto;
    gap: 2em 5.06rem;
}

.facts-text {
    flex-basis: 45%;
    position: sticky;
    top: 0;
    height: fit-content;
}

.facts-title {
    color: var(--color5);
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--big-font);
    line-height: 1.2;
    max-width: 720px;
}

.facts-text p {
    margin-block-start: 1.5rem;
    margin-bottom: 2em;
    color: var(--color6);
    font-size: 1.125rem;
    font-family: var(--read-font);
    line-height: 1.6;
    max-width: 720px;
}

.facts-text div {
    max-width: 720px;
}

.facts-text div div {
    display: flex;
    gap: 0.44rem;
    color: var(--color6);
    font-size: 1rem;
    font-family: var(--read-font);
}

.facts button {
    margin-top: 2.25rem;
    padding: 14px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.facts button:hover {
    background-color: var(--color3);
}

.facts button:hover .arrow{
    transform: translateX(7px);
}

.album {
    flex-basis: 55%;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
    container-type: inline-size;
}

.album img {
    border-radius: 10px;
}

.album img:last-child {
    grid-column: span 2;
    grid-row: span 1;
}

/* ---------- footer ------------ */

footer {
    padding: 80px 24px;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1170px;
    font-family: var(--big-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color1);
}

footer span {
    display: flex;
    gap: 1.5rem;
}

footer a {
    font-family: var(--read-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--color4);
    transition: color .2s ease-in-out;
}

footer a:hover {
    color: var(--color1);
}